* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.field {
  width: 50%;
  height: 100vh;
  background: #268a17;
}
.field .field__line {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  flex-flow: row-reverse wrap;
}
.player {
  background-color: #fff;
  display: flex;
}
.player--card {
  width: 100px;
  height: 125px;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
}
.player--card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.player .player__add {
  font-size: 1.5em;
  text-align: center;
}
.player .player__name {
  font-size: 0.8em;
}
.player .player__name--large {
  width: 80%;
  font-size: 1em;
  padding: 10px;
}
.player--selected {
  opacity: 0.7;
}
.player--suggestion {
  display: none;
  list-style: none;
  justify-content: flex-start;
  flex-flow: row;
}
.player .player__media--small {
  width: 40px;
  height: 40px;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal .modal__bg {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal .modal__dialog {
  width: 600px;
  margin: 30px auto;
  transform: translate(0, 0);
  z-index: 1;
}
.modal .modal__content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: #fff;
  border: 1px solid #ccd1d9;
  border-radius: 2px;
  background-clip: padding-box;
  outline: 0;
}
.modal .modal__close-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5em;
  color: #555;
}
.modal .modal__close-btn:hover {
  color: #222;
}
.modal .modal__close-link {
  cursor: pointer;
  color: #428bca;
}
.modal .modal__close-link:hover {
  text-decoration: underline;
}
.modal .modal__title {
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 500;
}
.modal .modal__body {
  position: relative;
  padding: 20px;
}
.btn {
  width: auto;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #FFF;
}
.btn .btn__text {
  position: relative;
  padding: 5px 10px;
  border-radius: 2px;
  display: block;
}
.btn--green {
  border: 1px solid #268a17;
  background-color: #268a17;
  color: #FFF;
}
.btn--green:hover {
  background: #FFF;
  border: 1px solid #268a17;
  color: #268a17;
}
.btn--big {
  font-size: 15px;
  padding: 5px;
}
.btn--spacing-right {
  margin-right: 15px;
}
.btn--spacing-left {
  margin-left: 15px;
}
.form {
  display: flex;
}
.form .form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  outline: none;
}
.form .form__input--text {
  border: 1px solid #ccc;
  width: 100%;
  padding: 0 10px;
  line-height: 28px;
  margin: 0;
}
/*# sourceMappingURL=App.css.map */