* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@green : #268a17;
@linkBlue: #428bca;

.field {
  width: 100%;
  padding: 20px;
  background: @green;

  .field__line {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row-reverse wrap;
    margin: 5px 0;
  }
}

.player {
  background-color: #fff;
  display: flex;
  width: 125px;
  height: 150px;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
  margin: 5px;

  .player__add {
    font-size: 1.5em;
    text-align: center;
  }

  .player__name {
    font-size: 1em;
  }

  &--selected {
    opacity: .7;
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}


/* Containers */
.modal__bg {
  display: none;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  .modal__dialog {
    width: 600px;
    margin: 30px auto;
    transform: translate(0, 0);
  }

  .modal__content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: #fff;
    border: 1px solid #ccd1d9;
    border-radius: 2px;
    background-clip: padding-box;
    outline: 0;
  }

  .modal__header {
    border: none;
    padding: 20px 0 0;
  }

  .modal__close-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 10px;
    line-height: 0;
    margin-top: -2px;
    float: right;
    font-size: 1.5em;
    color: #434a54;
    text-shadow: none;
  }

  .modal__title {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
    line-height: 1.6;
    text-align: center;
    font-size: 24px;
    font-weight: 500; /*color: #353b48;*/
    color: #325d81;
  }

  .modal__body {
    position: relative;
    padding: 20px;
  }

  .modal__text {
    margin: 0 0 12px;
    line-height: 1.6;
    color: #353b48;
    letter-spacing: 0.25px;
  }

  .modal__footer {
    border: none;
    padding: 0 20px 20px;
    text-align: right;
  }
}

/* Buttons
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.red {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn.green {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn.green:hover {
  background-color: #449d44;
  background-image: none;
  border-color: #419641;
}

.modal .btn.link {
  color: #428bca;
  font-weight: normal;
  border-radius: 0;
}

.modal .btn.link:hover {
  text-decoration: underline;
}
*/

